.checkout {
    margin-left: auto;
    margin-right: auto;
    max-width: 1160px;
    display: flex;
    padding: 20px;
    background-color: white;
    min-height: 1000px;
}

.checkout__left {
    width: 840px;
}

.checkout__ad {
    width: 100%;
    z-index: 1000;
    margin-bottom: 10px;
}

.checkout__title {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}