.checkoutProduct {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    z-index: 1;
    padding: 16px;
    border: 1px solid gainsboro;
    max-height: 600px;
    min-width: 100px;
    background-color: white;
    flex-wrap: wrap;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.checkoutProduct__rating {
    display: flex;
    margin-left: -3px;
    color: #FFA41C;
}

.list {
    font-size: 14px;
    text-decoration: line-through;
}

.save {
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 2px 6px;
    font-size: 14px;
    background-color: #7FDA69;
}

.checkoutProduct>img {
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 15px;
}

.checkoutProduct>button {
    background: #f0c14b;
    border: 1px solid;
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 6px;
    color: black;
    border-color: #a88734 #9c7e31 #846a29;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #846a29;
    }
}

.checkoutProduct__price {
    margin-top: 5px;
    font-size: 18px;
}

.checkoutProduct__price__info {
    flex: 1;
}

.seller {
    font-size: 14px;
    color: rgb(0, 134, 139);
    margin-top: 4px;
    cursor: pointer;
}