.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
    outline: 2px solid #FEBD69;
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    transform: translateX(-3px);
    background-color: #FEBD69;
    border: 2px solid #FEBD69;
    border-radius: 3px;
}

.header__optionLineOne {
    font-size: 12px;
    text-decoration: none;
}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
    text-decoration: none;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: white;

    &:hover {
        opacity: 0.9;
    }
}

.header__basketCount {
    margin-right: 20px;
    margin-left: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-around;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;

    &:hover {
        opacity: 0.9;
        cursor: pointer;
    }
}