.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    z-index: 1;
    padding: 16px;
    width: 100%;
    max-height: 600px;
    min-width: 100px;
    background-color: white;
    border-radius: 3px;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
}

.product__rating {
    display: flex;
    margin-left: -3px;
    color: #FFA41C;
}

.list {
    font-size: 14px;
    text-decoration: line-through;
}

.save {
    display: inline-block;
    text-align: center;
    align-items: center;
    padding: 2px 6px;
    font-size: 14px;
    background-color: #7FDA69;
}


.product>img {
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 15px;

    &:hover {
        scale: 1.004;
    }
}

.product>button {
    background: #f0c14b;
    border: 1px solid;
    cursor: pointer;
    padding: 3px 6px;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 6px;
    color: black;
    border-color: #a88734 #9c7e31 #846a29;

    &:hover {
        background: #e1b33f;
        scale: 1.007;
    }
}

.product__price {
    margin-top: 5px;
    font-size: 18px;
}

.product__info {
    /* height: 100px; */
    flex: 1;
}

.seller {
    font-size: 14px;
    color: rgb(0, 134, 139);
    margin-top: 4px;
    cursor: pointer;
}